@font-face {
	font-family: "myFont";
	src:  url('../Billy_Argel_Font.ttf');
}
body {
	text-align: center;
}
.welcome {
	font-family: "myFont";
	font-size: 100px;
	border: 2px solid #ccc;
	height: 200px;
	line-height: 200px;
	text-transform: uppercase;
}
.demo {
	text-decoration: line-through;
}
.demo2 {
	color: green;
	text-shadow: -2px -2px 3px red;
	font-size: 50px;
}
