.login form {
    width: 20%;
    border: 2px solid  #ccc ;
    border-radius: 4px; 
    padding: 10px 10px 35px 30px;
    float: left ;
}
.login input[type=text], .login input[type=password] {
    width: 90%;
    height: 25px;
    background-color: rgba(204, 204, 204, 0.02);
    margin-top: -10px;
    border: 1px solid #ccc;
} 
.login input[type=submit] {
    background-color: rgba(204, 204, 204, 0.20);
    padding: 7px 25px;
    font-weight: bold ;
    border: none ;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 10px;
}
span {
    color: red;
}
a {
    color: blue;
}
.register {
    width: 25%;
    float: left ;
    margin-top: -70px;
    margin-left: 100px;
}
.register form {
    border: 2px solid #ccc;
    border-radius: 4px; 
    padding: 10px 10px 25px 30px;
}
.register input[type=tel], .register input[type=email], .register input[type=password] {
    width: 90%;
    height: 25px;
    background-color: rgba(204, 204, 204, 0.02);
    margin-top: -10px;
    border: 1px solid #ccc;
}
.first-name, .last-name {
    float: left ;
}
.register input[type=text] {
    width: 87%;
    height: 25px;
    background-color: rgba(204, 204, 204, 0.02);
    margin-top: -10px;
    border: 1px solid #ccc;
}
.clear {
    clear: both ;
}
.register input[type=submit] {
    background-color: rgba(204, 204, 204, 0.20);
    color: gray ;
    padding: 7px 25px;
    font-weight: bold ;
    border: none ;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 10px;
}

